/***** BASE STYLES *****/

body {
    background: #fffaf5;
    color: #020202;
    font-family: 'Lato', serif;
    font-size: 24px;
}

h1, h2, h3 {
    font-family: 'Merriweather', sans-serif;
    text-align: center;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

a {
    text-decoration: none;
    transition: letter-spacing 0.3s;
    letter-spacing: 0;
}

a:hover {
    font-weight: bold;
    letter-spacing: 3px;
}

/***** GRID *****/

.full-width {
    clear: both;
    margin: 0 auto;
    width: 1200px;
}

.half-width {
    float: left;
    width: 600px;
}

.third-width {
    float: left;
    width: 400px;
}

/***** HEADER *****/

header {
    background: linear-gradient(to bottom, #fffaf5, #e9e4df);
    height: 800px;
}

header h1 {
    font-family: 'Staatliches', sans-serif;
    font-size: 72px;
    margin: 0;
    padding-top: 200px;
    text-align: left;
}

header h1 span {
    color: #fa8334;
}

header h2 {
    font-size: 48px;
    margin: 0;
    padding-top: 90px;
    text-align: left;
}

/***** NAVIGATION *****/

nav {
    float: right;
    padding-top: 80px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    font-size: 24px;
    margin-left: 25px;
    text-transform: uppercase;
}

nav ul li a {
    color: #020202;
}

/***** ABOUT *****/

#about {
    background: linear-gradient(to bottom, #3a4454, #4b586d);
    color: #fffaf5;
    height: 1050px;
}

#about h2 {
    margin: 0;
    padding-top: 170px;
}

#about p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 700px;
}

#about img {
    border: 2px solid #fffaf5;
    display: block;
    margin: 50px auto;
    width: 300px;
}

/***** PORTFOLIO *****/

#portfolio {
    background: linear-gradient(to bottom, #fffaf5, #e9e4df);
    height: 850px;
}

#portfolio h2 {
    margin: 0;
    padding-bottom: 115px;
    padding-top: 170px;
}

#portfolio h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 0;
}

#portfolio p {
    margin-top: 0;
    text-align: center;
}

#portfolio img {
    border: 2px solid #60718b;
    display: block;
    margin: 35px auto;
    transition: transform 0.4s;
    width: 350px;
}

#portfolio img:hover {
    transform: translateY(-10px);
}

/***** CONTACT *****/

#contact {
    background: linear-gradient(to bottom, #3a4454, #4b586d);
    color: #fffaf5;
    height: 650px;
}

#contact h2 {
    margin: 0;
    padding-top: 170px;
}

#contact h3 {
    padding-top: 100px;
}

#contact p {
    text-align: center;
}

#contact a {
    color: #fffaf5;
    text-align: center;
}

#contact a:hover {
    letter-spacing: 0.5px;
}

#contact img {
    width: 50px;
    margin: 0 25px;
    transition: all 0.3s;
}

#contact img:hover {
    transform: scale(1.2);
}

#contact #copyright {
    padding-top: 120px;
}

#contact #copyright p {
    font-size: 16px;
    text-align: center;
}
